@import '../../../styles/globals.scss';

.calendarHeader {
  width: $calendar-width;
}

.calendarHeaderMonth {
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  background: $calendar-header;
  font-size: $calendar-heading-font-size;
  color: $calendar-text-white;
}

.calendarHeaderWeek {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendarHeaderDays {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(#{$calendar-width} / 7);
  width: calc(#{$calendar-width} / 7);
  font-size: $calendar-font-size;
  color: $calendar-text-secondary;

  &:last-child {
    color: #EF9A9A;
  }
}
