@import '../../../styles/globals.scss';

.calendar-day {
  width: 2.5rem;
  height: 2.5rem;
}

.calendar-day-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  color: $calendar-text-primary;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    color: $calendar-text-white;
    background: $calendar-hover;
  }
}

.calendar-day-label.selected {
  background: $calendar-selected;
}

.calendar-day-check {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
